<div class = "login" %>
    <div>
        <% if alert %>
        <p id="alert"><%= alert %></p>
        <% end %>
    </div>
    
    <div class="login-form">
        <h1 class="font-fam">Log In</h1>

        <%= form_tag sessions_path do %>
        <div class="field">
        <div class = 'inner-div'>        
            <%= text_field_tag :username, nil, placeholder: "Enter username", :class => 'text' %>
            <%= submit_tag 'Sign In', :class => 'submit' %>
        </div>
        </div>
        <% end %>   
        
    </div>

    
</div>