
<%= form_for(@opinion) do |f| %> 

  <div class="form-inputs">
    <%= f.text_area :text, placeholder: "Enter your opinion", :class => 'text' %>     
  </div>

  <div class="form-actions">
    <%= f.submit 'submit', :class => 'submit'%>    
  </div>
<% end %>


