<div class = "front flex-row ">
    <%= render './layouts/left' %>

    <section class = "middle-col flex-column">       

        <%= render './layouts/opinion' %>
        <div class = "flex-column flex">
            <%= link_to 'Back', opinions_path %>
        </div>
    </section> 
</div>