<section id="opinions-section" class="opinions-section flex flex-column">
    <span class="opinions-title font-fam"> ALL OPINIONS </span>
    <% @user_opinions.each do |opinion| %>
      <article class="opinion-story flex-row">
      <div class="opinion-profile img-div">
      <% if @user.photo %>
      <%= image_tag(@user.photo_url.to_s, width: 60, height: 60) %> 
      <% end %>
     </div>
      <div class = "opinion-body font-fam w-100">
        <div class="flex-row space-between w-100">
          <h1> <%= link_to @user.fullname, user_path(opinion.author) %> </h1>
          <p class='opinion-date'> <%= opinion.created_at.strftime("%H") %> h </p>
        </div>
        <p> <%= opinion.text %> </p>
      </div>
     </article>
    <% end %>
  </section>