<div class="profile-photo">
                <%= form.label "Profile Photot" %>
                <%= form.file_field :photo %>
            </div>
            <%= link_to 'Upload photo',  upload_photo_user_path %> 