/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

//  general
 .color-1{
    color: #667B90
 }

 .color-2{
    color: #BDCAD5
 }

 .font-fam{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
    font-weight: 600;
    text-decoration: none;
 }

 .font-1 {
     font-size: 1rem;
 }
 

 .font-1p5 {
    font-size: 1.5rem;
}

.box {
    border: gray;
    
}




 // body 

//  body {
//      width: 768px;
//  }


// 

 .main-nav {    
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    // background: #4FA0DF;

    .nav-left {
        width:17%;
        background-color: #213246;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .profile-img {
            width: 3rem;
            height: 3rem;                
            margin-right: 1rem;       
            background-color: white;
            border-radius: 8px;
        }
        // .username {            
            
        // }

    }
    .nav-middle {
        width: 60%;
        background: #4FA0DF;
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo {
            width: 50%;
        }
        .logout {
            width: 50%;
            height: fit-content;
            text-align: right;            
        }
    }

    .nav-right {
        width: 23%;
        // height: 100%;
        display: flex;   
        flex-direction: row;     
        background: #4FA0DF;
        align-items: center;
        justify-content: space-around;   
        
        .iconify {
            width: 3rem;
        }
    }
 }

 .front {
     width: 100%;
     height: 800px;     
    //  background-color: yellow;

    display: flex;
    flex-direction: row;

    .left-col {
        width:17%;
        background-color: #213246;
        .following {
            height: fit-content;
            border-top: 1px solid;
            border-bottom: 1px solid;
            // background-color: green;

            display: flex;
            flex-direction: row;           
            
            .follow-part {
                width: 50%;
                height: 4rem;
                display: flex;
                flex-direction: column;
                // border: 2px solid;
                justify-content: center; 
                align-items: center;
                border-right: 1px solid; 
            }
        }

        .main-link-lists {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;               
            // background-color: white;                    
            padding-left: 1rem;
            // border: 1px solid;
            display: flex;
            align-items: center;
            .link-iconify {
                margin-right: 0.5rem;
            }
        }
     }

    .middle-col {
        width: 60%;
        background-color: #F5F6F8;
        display: flex;
        flex-direction: column;
        // border: 1px solid;
        .back-img {
            width: 100%;
            height: 15rem;
            background-color: gray;            
        }
        .front-menu {
            width: 100%;
            height: 4rem;
            border-bottom: 2px solid;
            border-color: rgb(233, 228, 228);
            .menu-title {
                width: 6rem;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;                
            }            
        }
        .opinion-section {
            width: 90%;
            height: fit-content;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5%;
            border: 2px solid;
            border-color: rgb(233, 228, 228);
            .opinion-title {
                width: 90%;   
                // border: 1px solid;
                padding-top:0.5rem ; 
                padding-bottom: 0.5rem;            
            }
            .opinion-field {
                width: 90%;
                height: 2rem;
                border: 2px solid;
                margin-bottom: 1rem;
                border-color: rgb(233, 228, 228);
            }             
        }

        .opinions-section {
            width: 90%;
            height: fit-content;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5%;
            border: 2px solid;
            border-color: rgb(233, 228, 228);
            .opinions-title {
                width: 90%;
                border-bottom: 2px solid;
                border-color: rgb(233, 228, 228);
                margin-top: 2rem;
                margin-bottom: 2rem;          
            }
            .opinion-story {
                width: 90%;
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;
                .opinion-profile {
                    width: 4rem;
                    height: 4rem;
                    background-color: red;
                }
                .opinion-body {
                    // width: 70%;
                    margin-left: 1rem;
                    
                }
            }    
        }
    }

    .right-col {
        width: 23%;
        background-color: #F5F6F8;
        border-left: 2px solid;
        border-color: rgb(233, 228, 228);
        display: flex;
        flex-direction: column;
        align-items: center;
        .show-profile{
            width: 100%;
            height: 15rem;
            border-bottom: 2px solid;
            border-color: rgb(233, 228, 228);
            .show-article{
                height: 11rem;
                border-bottom: 2px solid;
                border-color: rgb(233, 228, 228);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .photo-wrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                        .user-img{
                            width: 4rem;
                            height: 4rem;
                            background-color: cyan;
                            margin-right: 1rem;
                            margin-left: 1rem;                        
                        }
                    .iconify{
                        font-size: 2rem;
                    }
                }
                .user-name{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
            }
            .show-following{
                height: 4rem;
                display: flex;
                flex-direction: row;
                .follow-nums{
                    width: 33.33%;
                    display: flex; 
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;              
                }
                .middle{
                    border-left: 2px solid;
                    border-right: 2px solid;
                    border-color: rgb(233, 228, 228);
                }
            }
        }
        
        .title {
            width: 90%;
            height: 4rem;
            border-bottom: 2px solid;
            border-color: rgb(233, 228, 228);
            display: flex; 
            align-items: center; 
            justify-content: center;          
        }

        .who-to-section {
            width: 90%;
            height: fit-content;
            // border: 1px solid;
            // background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 5%;
         
            .who-to-story {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;                
                .who-to-profile {
                    width: 4rem;
                    height: 4rem;
                    background-color: red;
                    border-radius: 2rem;
                    margin-right: 1rem;
                }
                .who-to-body {
                    width: 70%;
                    .name-follow-wrapper{
                        display: flex;
                        flex-direction: row;
                        .follow-link{
                            background-color: green;
                            width: 2rem;
                            height: 1.5rem;
                            border-radius: 0.5rem;
                            align-items: center;
                            text-align: center;
                            margin-left: 0.5rem;
                        }
                    }
                }
            }    
        }
    }
 }
