<div class="front-menu flex-row ">
    <span class="menu-title font-fam flex-row flex">OPINIONS</span>
    <span class="menu-title font-fam flex-row flex">FOLLOWING</span>
    <span class="menu-title font-fam flex-row flex">FOLLOWERS</span>
    <span class="menu-title font-fam flex-row flex">LISTS</span>
</div>