<section class = "opinion-section flex-column flex">
<p id="notice"><%= notice %></p>
  <span class="opinion-title font-fam">YOUR OPINION</span>
  
  <div class = "opinion-field">
    <%= render 'form', opinion: @opinion %>
  </div>

</section>